# Exploratory Data Analysis and data cleaning

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Data Description

client_data.csv

●	id = client company identifier\
●	activity_new = category of the company’s activity\
●	channel_sales = code of the sales channel\
●	cons_12m = electricity consumption of the past 12 months\
●	cons_gas_12m = gas consumption of the past 12 months\
●	cons_last_month = electricity consumption of the last month\
●	date_activ = date of activation of the contract\
●	date_end = registered date of the end of the contract\
●	date_modif_prod = date of the last modification of the product\
●	date_renewal = date of the next contract renewal\
●	forecast_cons_12m = forecasted electricity consumption for next 12 months\
●	forecast_cons_year = forecasted electricity consumption for the next calendar year\
●	forecast_discount_energy = forecasted value of current discount\
●	forecast_meter_rent_12m = forecasted bill of meter rental for the next 2 months\
●	forecast_price_energy_off_peak = forecasted energy price for 1st period (off peak)\
●	forecast_price_energy_peak = forecasted energy price for 2nd period (peak)\
●	forecast_price_pow_off_peak = forecasted power price for 1st period (off peak)\
●	has_gas = indicated if client is also a gas client\
●	imp_cons = current paid consumption\
●	margin_gross_pow_ele = gross margin on power subscription\
●	margin_net_pow_ele = net margin on power subscription\
●	nb_prod_act = number of active products and services\
●	net_margin = total net margin\
●	num_years_antig = antiquity of the client (in number of years)\
●	origin_up = code of the electricity campaign the customer first subscribed to\
●	pow_max = subscribed power\
●	churn = has the client churned over the next 3 months

\
price_data.csv

●	id = client company identifier\
●	price_date = reference date\
●	price_off_peak_var = price of energy for the 1st period (off peak)\
●	price_peak_var = price of energy for the 2nd period (peak)\
●	price_mid_peak_var = price of energy for the 3rd period (mid peak)\
●	price_off_peak_fix = price of power for the 1st period (off peak)\
●	price_peak_fix = price of power for the 2nd period (peak)\
●	price_mid_peak_fix = price of power for the 3rd period (mid peak)

## Import data frame

In [14]:
client_df = pd.read_csv("/Users/zhenliu15471/code/zliu15471/BCG/raw_data/client_data.csv")
price_df = pd.read_csv("/Users/zhenliu15471/code/zliu15471/BCG/raw_data/price_data.csv")

In [15]:
client_df.head()

,id,channel_sales,cons_12m,cons_gas_12m,cons_last_month,date_activ,date_end,date_modif_prod,date_renewal,forecast_cons_12m,...,has_gas,imp_cons,margin_gross_pow_ele,margin_net_pow_ele,nb_prod_act,net_margin,num_years_antig,origin_up,pow_max,churn
0,24011ae4ebbe3035111d65fa7c15bc57,foosdfpfkusacimwkcsosbicdxkicaua,0,54946,0,2013-06-15,2016-06-15,2015-11-01,2015-06-23,0.00,...,t,0.00,25.44,25.44,2,678.99,3,lxidpiddsbxsbosboudacockeimpuepw,43.648,1
1,d29c2c54acc38ff3c0614d0a653813dd,MISSING,4660,0,0,2009-08-21,2016-08-30,2009-08-21,2015-08-31,189.95,...,f,0.00,16.38,16.38,1,18.89,6,kamkkxfxxuwbdslkwifmmcsiusiuosws,13.800,0
2,764c75f661154dac3a6c254cd082ea7d,foosdfpfkusacimwkcsosbicdxkicaua,544,0,0,2010-04-16,2016-04-16,2010-04-16,2015-04-17,47.96,...,f,0.00,28.60,28.60,1,6.60,6,kamkkxfxxuwbdslkwifmmcsiusiuosws,13.856,0
3,bba03439a292a1e166f80264c16191cb,lmkebamcaaclubfxadlmueccxoimlema,1584,0,0,2010-03-30,2016-03-30,2010-03-30,2015-03-31,240.04,...,f,0.00,30.22,30.22,1,25.46,6,kamkkxfxxuwbdslkwifmmcsiusiuosws,13.200,0
4,149d57cf92fc41cf94415803a877cb4b,MISSING,4425,0,526,2010-01-13,2016-03-07,2010-01-13,2015-03-09,445.75,...,f,52.32,44.91,44.91,1,47.98,6,kamkkxfxxuwbdslkwifmmcsiusiuosws,19.800,0

In [16]:
price_df.head()

,id,price_date,price_off_peak_var,price_peak_var,price_mid_peak_var,price_off_peak_fix,price_peak_fix,price_mid_peak_fix
0,038af19179925da21a25619c5a24b745,2015-01-01,0.151367,0.0,0.0,44.266931,0.0,0.0
1,038af19179925da21a25619c5a24b745,2015-02-01,0.151367,0.0,0.0,44.266931,0.0,0.0
2,038af19179925da21a25619c5a24b745,2015-03-01,0.151367,0.0,0.0,44.266931,0.0,0.0
3,038af19179925da21a25619c5a24b745,2015-04-01,0.149626,0.0,0.0,44.266931,0.0,0.0
4,038af19179925da21a25619c5a24b745,2015-05-01,0.149626,0.0,0.0,44.266931,0.0,0.0

In [10]:
client_df.dtypes

id                                 object
channel_sales                      object
cons_12m                            int64
cons_gas_12m                        int64
cons_last_month                     int64
date_activ                         object
date_end                           object
date_modif_prod                    object
date_renewal                       object
forecast_cons_12m                 float64
forecast_cons_year                  int64
forecast_discount_energy          float64
forecast_meter_rent_12m           float64
forecast_price_energy_off_peak    float64
forecast_price_energy_peak        float64
forecast_price_pow_off_peak       float64
has_gas                            object
imp_cons                          float64
margin_gross_pow_ele              float64
margin_net_pow_ele                float64
nb_prod_act                         int64
net_margin                        float64
num_years_antig                     int64
origin_up                          object
pow_max                           float64
churn                               int64
dtype: object

In [17]:
price_df.dtypes

id                     object
price_date             object
price_off_peak_var    float64
price_peak_var        float64
price_mid_peak_var    float64
price_off_peak_fix    float64
price_peak_fix        float64
price_mid_peak_fix    float64
dtype: object